version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "viem"
          - "react*"
          - "@tanstack/*"
    open-pull-requests-limit: 10
